# Next.js
.next/
out/

# Dependencies
node_modules/

# Production build
build/

# Env files
.env
.env.local
.env.*.local

# Debug
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# PDFs de test
*.pdf
